/*GLOBAL STYLING*/
body {
    background-color: #7d7d7d;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
}
body .container-wrap {
    background: #ebebeb;
    padding: 20px;
}
.form-control::-webkit-input-placeholder { font-size: 14px; font-family: 'Source Sans Pro', sans-serif }
.form-control:-moz-placeholder { font-size: 14px; font-family: 'Source Sans Pro', sans-serif }
.form-control::-moz-placeholder { font-size: 14px; font-family: 'Source Sans Pro', sans-serif }
.form-control:-ms-input-placeholder { font-size: 14px; font-family: 'Source Sans Pro', sans-serif }

form .form-group button {
    font-size: 14px; font-family: 'Source Sans Pro', sans-serif;
}
a:link {
    text-decoration: none;
}
.spacer-sd-vertical {
    height: 10px;
}
/*END GLOBAL STYLING*/

/*NEW STYLING*/
.new-title {
    font-family: 'Source Sans Pro', sans-serif;
}
.top-newsletter-dropdown {
    margin-bottom: 15px;
    margin-top: -122px;
    position: relative;
}
.top-newsletter-dropdown h1 {
    color: #eee;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.top-newsletter-dropdown h1 span {
    display: block;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    padding-top: 5px;
}
.top-newsletter-dropdown #btn-close-newsletter {
    position: absolute;
    right: 2px;
    top: 15px;
    background: #eee;
    color: #555;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
    cursor: pointer;
    display: block;
}
.top-newsletter-dropdown #btn-close-newsletter i {
    color: #666;
    margin-left: 5px;
}
/*NEW TOP BAR*/
.new-top-bar {
    background: #1e8dd5;
}
.new-top-bar h2,
.new-top-bar h2 a {
    font-size: 12px;
    color: #eee;
    margin: 0;
    line-height: 38px;
}
.new-top-bar ul,
.new-top-bar ul li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
.new-top-bar ul li a {
    border-right: 1px solid #0199fb;
}
.new-top-bar ul li:last-child a {
    border-right: 0;
}
.new-top-bar ul li a {
    color: #eee;
    padding: 10px 15px;
    display: block;
}
.new-top-bar ul li a:hover {
    background: #eee;
    opacity: 0.80;
    color: #555;
}
.new-top-bar .call-us a:hover {
    text-decoration: underline;
}
/*LOGIN MENU IN SMALL DEVICES*/
.login-menu-xs-sd a {
    color: #eee;
}
.login-menu-xs-sd {
    padding-top: 15px;
    padding-right: 5px;
}
#menu-categories {
    margin-top: 10px;
}
/*SEARCH STYLES*/
.search-sd form {
    margin-top: 25px;
    min-width: 200px
}
.search-sd form input {
    padding-left: 15px;
    width: 170px;
}
.search-sd form button {
    min-width: 30px;
}
.search-sd form button i {
    color: #ccc;
    font-size: 14px;
    float: right;
    margin-right: 5px
}
.search-sd form button:hover i {
    color: #999;
}
.search-sd form input {
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 0;
}
.search-sd form button {
    border: 1px solid #ccc;
    border-left: 0;
}
.search-sd form input,
.search-sd form button {
    margin: 0;
    float: left;
    height: 35px;
    background: #fff;
}

/*CATEGORIES*/
.categories-sd > ul li a { 
    display: block;
    padding: 5px 0;
    font-weight: 400;
    color: #777
}
.categories-sd ul ul {
    line-height: 18px;
}
.categories-sd ul ul li {
    padding-left: 15px;
}
.categories-sd ul ul li a {
    font-weight: 400;
}
.categories-sd ul li a:hover {
    color: #1e8dd5;
}
.categories-sd ul li a.active {
    color: #1e8dd5;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
}
.categories-sd ul li a span.icon {
    float: right;
}
.categories-sd .sale-sd a {
    color: #dc1a22;
    position: relative;
}
.categories-sd ul li a sup {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 18px;
    background: #dc1a22;
    position: absolute;
    left: 75px;
    top: -5px;
    color: #fff;
}
.categories-sd ul li a sup span {
    padding-left: 4px;
    line-height: 24px;
}
.categories-sd .navbar-inverse {
    background-color: #1e8dd5;
    border-color: #1e8dd5;
}
ul.menu-lg-sd > li ul li a {
    color: #888
}
ul.menu-lg-sd > li {
    position: relative;
    line-height: 20px;
}
ul.menu-lg-sd > li > a {
    padding-right: 25px;
}
ul.menu-lg-sd > li > a > span {
    position: absolute;
    top: 5px;
    right: 0;
}
ul.menu-lg-sd > li > a > span i {
    font-size: 8px;
}





ul.side {
    border: 0px solid #444;
    display: inline-block;
    position: relative;
    width: 570px;
}

.height
{
    font: 16px/100px sans-serif;
    height: 20px;
}

div.side {

    display: none;
    height: 401px;
    position: relative;
    right: 0;
    top: 0;
    width: 380px;
  opacity:1;
  transition-delay:1s;
}

a.side:hover + div.side,
div.side:hover {
    display: block;
    position: absolute;
 visibility:visible;
  opacity:1;
  transition-delay:2s;

}
.wrap {
 /* force the div to properly contain the floated images: */
position:relative;
float:left;
clear:none;
}
.wrap img {
 position:relative;
z-index:1;
}
.wrap .desc {
display:block;
position:absolute;
width:100%;
top:2%;
left:0;
z-index:2;
}


h2.padding-left
{
  padding-left: 20px;
 font-size: 26px;
 font-weight: 300;
 color: #ffffff;
 margin: 0 0 24px;
}

ul.padding
{
    padding-top:70px;
    padding-left: 5px;
}
ul.list-none li
{
    list-style-type: none;
     float:left; width:50%;
     color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; 
}

.footer{
    position: relative;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height:40px;
    background:#333333;
    text-align: center;
    color:#fff;
}